<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BPMN Viewer</title>
    <script src="https://unpkg.com/bpmn-js/dist/bpmn-viewer.development.js"></script>
</head>
<body>
<h1>BPMN Viewer</h1>
<div id="canvas" style="width: 100%; height: 500px; border: 1px solid black;"></div>

<script>
    const viewer = new BpmnJS({
        container: '#canvas'
    });

    fetch('/diagram')
        .then(response => response.text())
        .then(xml => {
            viewer.importXML(xml)
                .then(() => console.log('Diagram loaded'))
                .catch(err => console.error('Error loading diagram:', err));
        })
        .catch(err => console.error('Error fetching diagram:', err));
</script>
</body>
</html>
